abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,html,iframe,ins,kbd,label,legend,li,object,ol,pre,q,s,samp,small,span,strike,strong,table,tbody,td,tfoot,th,thead,tr,tt,ul,var {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-weight: inherit;
	font-style: inherit;
	font-size: 18px;
	font-family: inherit
}

html {
	overflow-y: scroll;
	box-sizing: border-box;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

button,input,textarea {
	outline: 0;
	font-family: Hiragino Sans GB,Microsoft YaHei,STHeiti,WenQuanYi Micro Hei,Helvetica,Arial,sans-serif;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent
}

button:focus,input:focus,textarea:focus {
	outline: 0
}

sub,sup {
	position: relative;
	vertical-align: baseline;
	font-size: 75%;
	line-height: 0
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

body {
	background-color: #f5f5f5;
	color: rgba(0,0,0,.8);
	font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,微软雅黑,Arial,sans-serif;
	line-height: 2;
	word-break: break-word;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on
}

article,aside,details,figcaption,figure,footer,header,main,nav,section {
	display: block
}

table {
	box-sizing: border-box;
	margin: 1em 0;
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	background-color: transparent;
	border-spacing: 0
}

table,table tr,table tr td,table tr th {
	border-color: #e5e5e5
}

table th {
	background-color: #fdfdfd;
	color: #666
}

tr th {
	padding: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid
}

tr td,tr th {
	padding: 5px 20px;
	border-right: 1px solid;
	font-size: 1rem
}

tr td:last-child,tr th:last-child {
	border-right: 0
}

table th {
	font-weight: 700
}

table tbody>tr:nth-child(odd)>td,table tbody>tr:nth-child(odd)>th {
	background-color: #f9f9f9
}

blockquote:after,blockquote:before,q:after,q:before {
	content: ""
}

blockquote,q {
	quotes: none;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none
}

blockquote {
	margin: 30px 0;
	padding-left: 20px;
	border-left: 3px solid rgba(0,0,0,.8);
	letter-spacing: .01rem;
	font-weight: 400
}

a:active,a:hover {
	outline: 0
}

pre {
	position: relative;
	overflow: auto;
	margin: 20px 0;
	padding: 0 20px;
	max-height: 400px;
	background-color: #f8f8f8;
	word-wrap: break-word;
	font: 16px/22px 'courier new'
}

pre:after,pre:before {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #2f76bb
}

pre:before {
	content: "-- CODE --"
}

pre:after {
	content: "-- EOF --";
	text-align: left
}

code {
	padding: 2px 4px;
	border-radius: 3px;
	color: #b94a48;
	letter-spacing: 0;
	font: 1.03pc/26px 'courier new'
}

pre code {
	padding: 2px;
	border-radius: 0;
	color: #444
}

img {
	height: auto;
	max-width: 100%
}

.screen-reader-text {
	position: absolute;
	top: -9999px;
	left: -9999px
}

button::-moz-focus-inner {
	padding: 0;
	border: 0
}

a {
	color: inherit;
	text-decoration: none
}

input[disabled] {
	background-color: rgba(0,0,0,.05);
	color: rgba(0,0,0,.8);
	cursor: default
}

.site-footer,.site-header {
	text-align: center
}

#go-back-home {
	display: inline-block;
	margin: 40px 0 0
}

.site-header p {
	font-size: 20px
}

.description {
	color: #999;
	font-size: 16px
}

.site-footer {
	margin-bottom: 20px
}

.site-footer p {
	color: #999;
	font-size: 15px;
	line-height: 1
}

@media screen and (max-width:670px) {
	#container {
		margin: 0 auto;
		width: 100%;
		max-width: 600px;
		border-radius: 5px;
		background-color: #fff
	}

	.site-footer {
		margin-top: 20px
	}

	.description {
		display: none
	}

	.site-header {
		padding-bottom: 20px
	}
}

@media screen and (min-width:670px) {
	#container {
		margin: 40px auto 20px;
		width: 100%;
		max-width: 700px;
		border-radius: 5px;
		background-color: #fff
	}
}

article {
	margin-bottom: 20px
}

#nav-menu {
	border-bottom: 1px solid #f9f9f9;
	text-align: center
}

.topNav-items li {
	display: inline;
	margin: 0 10px;
	line-height: 1
}

#nav-menu,.main-content {
	padding: 10px
}

.block-title a:hover,.comment-author a:hover,.current-menu-item a,.diary a:hover,.menu-item a:hover,.post-time a:hover {
	border-bottom: 1px dotted #999
}

.block-title {
	overflow: hidden;
	color: #269;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap
}

.archiveTitle {
	color: #999;
	text-align: center;
	font-size: 17px;
	line-height: 3.5
}

.posttime {
	color: #999;
	text-align: center;
	font-size: 1.03pc
}

.post-title {
	padding: 10px 10px 0;
	text-align: center;
	font-weight: 800;
	font-size: 22px
}

.post-time {
	margin-top: 10px;
	color: #999;
	text-align: center;
	font-size: 1pc
}

.diary {
	padding: 18px;
	text-align: justify;
	text-justify: inter-ideograph
}

.diary .wp-caption,.diary p.with-img {
	margin-right: -60px;
	margin-left: -60px
}

.diary strong {
	font-weight: 700
}

.diary em {
	font-style: italic
}

.diary li {
	margin-bottom: 9pt;
	margin-left: 30px;
	padding-top: 2px
}

.diary ol {
	list-style: none;
	counter-reset: post
}

.diary ol>li:before {
	padding-right: 9pt;
	content: counter(post,decimal) ".";
	counter-increment: post
}

.diary hr {
	display: block;
	margin-top: 2pc;
	margin-bottom: 22px;
	border: 0;
	text-align: center
}

.diary hr:before {
	position: relative;
	top: -20px;
	display: inline-block;
	margin-left: .6em;
	color: rgba(0,0,0,.6);
	content: '...';
	letter-spacing: .6em;
	font-size: 28px
}

.diary a {
	color: #3354aa
}

.post-tags a:before {
	content: '#'
}

.diary h1 {
	font-size: 1.6em
}

.diary h2 {
	font-size: 1.35em
}

.diary h3 {
	font-size: 1.1em
}

.diary h4,.diary h5,.diary h6 {
	font-size: 1.05em
}

.diary h3,.diary h4,.diary h5,.diary h6 {
	color: #488fd6
}

.diary .toc {
	padding: 30px 0;
	border: 1px solid #eee
}

.diary .toc ul {
	padding-left: 1.5em
}

.diary .toc li ul {
	margin: 0;
	padding-top: 0
}

.diary .toc a {
	text-decoration: none
}

.diary .toc a:hover {
	border-bottom: 1px dotted #999
}

.post-tags a {
	padding-left: 18px;
	color: #999;
	font-size: 15px
}

.page404 {
	text-align: center
}

.page404 p {
	font-size: 18px
}

.blog-nav {
	padding-top: 10px;
	border-top: 1px solid #f9f9f9;
	text-align: center
}

.blog-nav:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	content: "."
}

.prev {
	float: left
}

.next {
	float: right
}

#comments {
	padding: 18px
}

#comments ol {
	list-style: none
}

.comment-list .comment-body {
	position: relative;
	padding-top: 25px;
	border-top: 1px solid rgba(0,0,0,.05)
}

.comment-list .comment-body .comment-author {
	font-size: 14px
}

.comment-list .comment-body .comment-author .fn {
	font-weight: 700
}

.comment-list .comment-body .comment-author .avatar {
	float: left;
	margin-top: 8px;
	margin-right: 8px;
	border-radius: 100%
}

.comment-list .comment-children {
	margin-left: 22px
}

.comment-list .depth-2 .children {
	margin-left: 0
}

.comment-list-wrap {
	border-bottom: 1px solid rgba(0,0,0,.05)
}

.comment-meta {
	overflow: hidden;
	color: rgba(0,0,0,.44);
	font-size: 11.5pt
}

.comment-meta .says {
	display: none
}

.comment-content {
	margin-top: 10px;
	margin-bottom: 25px
}

.comment-reply {
	position: absolute;
	top: 20px;
	right: 0
}

.comment-reply a {
	padding: 3px 8px;
	border-radius: 2px;
	background-color: #9e9e9e;
	color: #fff;
	font-size: 9pt
}

.respond {
	margin-top: 30px
}

.required {
	color: #c00
}

.comment-form {
	padding: 1 0 0
}

.comment-form label {
	display: block;
	margin-bottom: 3px;
	cursor: pointer
}

.comment-form p {
	margin-bottom: 15px
}

.comment-form .comment-form-author input,.comment-form .comment-form-email input,.comment-form .comment-form-url input {
	padding: 0 10px;
	width: 300px;
	height: 35px;
	border: 1px solid rgba(0,0,0,.05);
	border-radius: 3px;
	background-color: #f5f5f5;
	color: rgba(0,0,0,.6);
	font-size: 17.5px
}

.comment-form .comment-form-comment textarea {
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	border: 1px solid rgba(0,0,0,.05);
	border-radius: 3px;
	background-color: #f5f5f5;
	font-size: 17.5px;
	resize: none;
	resize: vertical
}

.form-submit .submit {
	display: inline-block;
	padding: 3px 15px;
	border: 1px solid #9e9e9e;
	border-radius: 3px;
	background-color: #fff;
	color: #9e9e9e;
	font-size: 17px;
	cursor: pointer
}

.form-submit .submit:hover {
	background-color: #9e9e9e;
	color: #fff
}

.comments-title {
	padding: 5px 0;
	font-weight: 700
}

.comment-reply-title {
	color: rgba(0,0,0,.44);
	font-size: 18px
}

.comment-awaiting-moderation {
	padding: 2px 6px;
	background-color: #fcf8e3;
	color: #c09853;
	font-size: 9pt
}

.page-navigator {
	margin: 25px 0;
	padding: 0;
	list-style: none;
	text-align: center
}

.page-navigator li {
	display: inline-block;
	margin: 0 4px
}

.page-navigator a {
	display: inline-block;
	padding: 0 10px;
	height: 30px;
	line-height: 30px
}

.page-navigator a:hover {
	background: #eee;
	text-decoration: none
}

.page-navigator .current a {
	background: #eee;
	color: #444
}
